img {
    height: 500px;
}
h1 {
  margin-top: 10px;
  text-align: center;
}
body {
  background: #C3AF93;
}
.col-sm-4 {
  margin-left: 140px;
}
p {
  margin-left: 20px;
}

.row {
  margin-left: 140px;
  margin-top: 10px;
}

#confirmation {
  display: none;
}
.row3 {
  margin-left: 140px;
}
